@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Light"), local("OpenSans-Light"),
      url(fonts/opensans-light.woff) format('woff'),
      url(fonts/opensans-light.ttf) format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"),
      url(fonts/opensans-semibold.woff) format('woff'),
      url(fonts/opensans-semibold.ttf) format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"),
      url(fonts/opensans-lightitalic.woff) format('woff'),
      url(fonts/opensans-lightitalic.ttf) format('truetype');
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"),
      url(fonts/opensans-semibolditalic.woff) format('woff'),
      url(fonts/opensans-semibolditalic.ttf) format('truetype');
}

html {
  background-color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
  background-color: transparent;
  min-width: 1100px;
}

body.droid {
  font-family: "Droid Sans";
}

nav {
  background-repeat: no-repeat;
  background-size: 160px 44px;
  height: 70px;
  color: #460e54;
  line-height: 44px;
  text-align: right;
  vertical-align: center;
  font-size: 14pt;
  width: 100%;
  margin: 0 auto;
}

nav>a {
  display: inline-block;
  padding: 16px 16px 0px 16px;
  text-decoration: none;
  vertical-align: center;
  color: #460e54;
}

nav>a:first-of-type {
  padding-left: 50px;
  float: left;
}

header {
  color: white;
  height: 300px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  position: relative;
}

.headercontent {
  width: 800px;
  margin-left: 200px;
  display:inline-block;
}

header::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0px;
  right: 0;
  height: 300px;
  background-image: url(/meteor-cat.png);
  background-position: 100px bottom;
  background-repeat: no-repeat;
  background-size: 225px;
  background-color: #62396e;
  z-index: -1;
  min-width: 1100px;
}

header h1 {
  font-size: 22pt;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #fffbfb;
  font-weight: normal;
}

header p {
  font-size: 23pt;
  color: #ffd4ec;
  margin-left: 50px;
  margin-right: 50px;
}

a.button {
  display: inline-block;
  background-color: #b56fc7;
  color: #fffbfb;
  padding: 4px 4px;
  border-radius: 2px;
  font-size: 28pt;
  text-decoration: none;
}

header div.action-button {
  display: inline-block;
  width: 300px;
  color: #b56fc7;
  padding: 0 10px 1em;
  vertical-align: top;
}

header div.action-or {
  display: inline-block;
  width: 40px;
  color: #ffe8f5;
  text-align: center;
  vertical-align: top;
  padding-top: 10px;
}

header div.action-button a.button {
  display: block;
  text-align: center;
  font-size: 14pt;
  width: 280px;
  padding: 10px;
  height: 30px;
  line-height: 30px;
  margin: 0 0 8px;
}
/*
header>form {
  text-align: left;
  vertical-align: top;
  color: #ffd4ec;
  padding-top: 4px;
  float: left;
  padding-left: 25px;
}

header>form>p {
  margin: 0 0;
  font-size: 12pt;
}

header>form>input {
  height: 2em;
  border: none;
  font-size: 14pt;
  padding: 0 8px;
  height: 32px;
}

header>form>input[type="email"] {
  background-color: #fffbfb;
  color: #ae72b1;
  width: 150px;
}

header>form>input[type="submit"] {
  background-color: #ffd4ec;
  color: #ae72b1;
}

header>form>input[type="email"]::-webkit-input-placeholder { color: #ae82b7; }
header>form>input[type="email"]::-moz-placeholder { color: #ae82b7; }
header>form>input[type="email"]:-ms-input-placeholder { color: #ae82b7; }
*/

/* ==================================================================================== */

section.tabs {
  margin-top: 50px;
  -webkit-transition: height 200ms;
  transition: height 200ms;
  text-align: center;
  width:320px;
  display:inline-block;
  vertical-align: top;
  border-color: #e6e3e8;
  padding: 10px;
}

section.tabs>p {
  text-align: left;
}

section.tabs>section {
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  font-size: 11pt;
  cursor: pointer;
  text-align: left;
}

section.tabs>section>h3 {
  text-align: center;
  color: #2d0f70;
  font-weight: normal;
  font-size: 18pt;
  margin: 0.5em 0;
}

section.tabs>section>details>summary::-webkit-details-marker {
  display: none;
}

section.tabs>section>details>div {
  position: absolute;
  margin: -1px 0 0;
  display: none;
  overflow: hidden;
  cursor: auto;
  left: 0;
  right: 0;

  -webkit-transition: height 200ms;
  transition: height 200ms;
}


a.detailbutton {
  background-color: #704778;
  color: #fffbfb;
  padding: 5px 25px;
  margin: 50px;
  border-radius: 2px;
  font-size: 14pt;
  text-decoration: none;
}

/* ==================================================================================== */

#plainsection {
  margin: 35px 0;
  color: #000000;
  background-color: #fffff;
  font-weight: normal;
  text-align: center;
}

#plainsection>h1 {
  text-align: center;
  margin: 25px;
  font-size: 26px;
  line-height: 45px;
}

#plainsection>p a {
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

#mid {
  border-style: solid;
  border-color: #ebe8ed;
  border-width: 0px 2px;
  width: 340px;
  display: inline-block;
}

.col67 {
  width: 600px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0;
}

.col67 p {
  width: 600px;
}

.col33 {
  width: 340px;
  display: inline-block;
  vertical-align: center;
  text-align: left;
  margin: 0;
}

.halfcol {
  width: 460px;
  display:inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0 25px;
}

.halfcol> ul {
  text-align: left;
}

.halfcol> li {
  text-align: left;
}

.halfcol> p {
  text-align: left;
}

.calloutbox {
  border-radius: 2px;
  border: 2px solid #ebe8ed;
  margin: 20px;
  padding: 0 20px 30px 20px;
  text-align: center;
  vertical-align: top;
}

.calloutbox>p {
  vertical-align: top;
  margin: 25px;
}

#demo {
  padding: 35px 0;
  color: #000000;
  background-color: #e6e3e8;
  text-align: center;
}

#demo img {
  height: 150px;
  width: auto;
  border:0;
}

#demo p {
  width: 950px;
  text-align: left;
  margin: 0 75px 20px 75px;
}

#description {
  padding: 35px 0;
  color: #6A237C;
  background-color: #FDE5EF;
}

#description>p {
  text-align: center;
  width: 900px;
  margin: 0 auto;
  font-size: 25px;
  line-height: 45px;
}

#description>p a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

/* ==================================================================================== */

#principles {
  display: inline-block;
  margin-top: 0px;
}

#principles>section {
  width: 250px;
}

#principles>section::before {
  content: " ";
  height: 150px;
  background-repeat: no-repeat;
  background-position: top;
}

#principles>section>details>summary {
  color: #47314c;
}

#principles>section>details>summary::after {
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 10px;
  padding: 16px;
  margin: 0 auto;
}

#principles>section>details[open]>summary::after {
  width: 80px;
  height: 30px;
  margin: 20px auto 0;
  position: relative;
  padding: 0;
}

#principles>section>details[open="closing"]>summary::after {
  background-image: none;
}

#principles>section>details>div {
  background-color: #eee5f0;
  color: #562b60;
  height: 0px;
}

#principles>section>details>div>div {
  width: 700px;
  padding: 25px 200px;
  margin: 0 auto;
}

#principles>section>details>div>div::before {
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
  height: 85px;
}



/* ==================================================================================== */

footer {
  background-color: #4d2856;
  position:relative;
  height: 200px;
  margin-top: -1px;  /* fix seam on Android */
  color: white;
  text-align: right;
  padding: 25px 50px 0 0; 
}

footer>h2 {
  text-align: right;
  font-size: 25pt;
  font-weight: normal;
  margin: 36px auto 1em;
  margin-right: 25px;
}

footer>img {
  margin-right: 5px;
  border:0;
}

footer::before {
  content: " ";
  display: block;
  background-image: url(/tents.png);
  background-repeat: no-repeat;
  background-size: 550px;
  position:absolute;
  top: -175px;
  width: 800px;
  height: 400px;
  margin-right: -20px;
}

footer>ul {
  padding: 0;
  width: 900px;
  margin: 60px auto 0;
  border-top: 1px solid #b19fc2;
  text-align: center;
}

footer>ul>li {
  list-style-type: none;
  display: inline-block;
  margin: 1em 50px;
}

footer>ul>li>a {
  color: white;
  text-decoration: none;
}

footer>p {
  padding: 0;
  margin: 0 100px 30px;
  text-align: right;
  color: #a993af;
}
